{% extends 'layout/default.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}ADMIN{% endblock %}
{% block site_name %}{{ site_name }}{% endblock %}

{% block content %}
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{ site_name }}</a>
                </div>
            </div>
        </nav>
        <div class="jumbotron">
            <form role="form" action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Site name</label>
                    <input type="text" class="form-control" id="site_name" value="{{ site_name }}" name="site_name">
                </div>

                <div class="form-group">
                    <label for="name">Home Page access code</label>
                    <input type="text" class="form-control" id="access_code" placeholder="access code"
                           value="{{ access_code }}" name="access_code">
                </div>

                <div class="form-group">
                    <label for="name">Admin Page password</label>
                    <input type="text" class="form-control" id="password" placeholder="admin password"
                           value="{{ password }}" name="password">
                </div>

                <div class="save-setting-list">
                    <button type="submit" class="btn btn-info" >SAVE</button>
                </div>
            </form>
        </div>
        <div class="jumbotron">

            <div class="form-group remote-path-group">
                <label for="remote_path">Remote path</label>
                <input type="text" class="form-control " id="remote_path" value="/">
            </div>

            <label class="btn btn-default" style="width: 300px;">
                <i class="glyphicon glyphicon-upload"></i>
                <span class="upload-filename-text">Please Choose File</span>
                <input type="file" hidden name="file" id="file">
            </label>
            <button class="btn btn-info" onclick="start_upload()">UPLOAD</button>

            <br>
            <div style="width: 300px;">
                <span class="progress-bar" style="">0%</span>
            </div>
            <br>

             <div class="form-group">
                <span class="upload-err-text"></span>
            </div>
        </div>


    </div>

{% endblock %}

{% block script %}
    <script>
        let access_token = '{{ access_token }}';
        let upload_session = '';
        let large_file_size = 4 * 1024 * 1024; //4MB以上开始大文件上传

        /**
         * Change upload button text.
         **/
        $('#file').on('change', function(target){
            let curr_file = target.currentTarget.files[0];
             let file_name = curr_file.name;
            if(file_name.length >= 30){
                file_name = curr_file.name.slice(0,30) + '....';
            }
            $('.upload-filename-text').html(file_name)

        })

        /** Start upload
         * @returns {boolean}
         */
        function start_upload() {
            // Clear error message and
            show_err();
            let remote_path = path_check();
            if(!remote_path){
                show_err('Please confirm your Remote path format')
                return false;
            }
            let file = $('#file')[0].files[0];
            if(typeof file == 'undefined'){
                show_err('Please select file.')
                return false;
            }

            if (file.size >= large_file_size){
                console.log('START LARGE FIL UPLOAD.')
                large_file_upload(file, remote_path)
            }else{
                small_file_upload(
                    file,
                    remote_path,
                    function(ret){
                        progress_bar_fill(100);
                    },
                    function(ret){
                        progress_bar_fill(100,'FAIL');
                        show_err(ret.error.message);
                    }
                );
            }
        }


        /**
         * Check remote path format and return then.
         **/
        function path_check(){
            $('.remote-path-group').removeClass('has-error')
            let remote_path = $('#remote_path').val();

            let patten = /^\/\w+(\/\w+)*$/;
            let reg = new RegExp(patten);
            if(!reg.test(remote_path) && remote_path!= '/'){
                $('.remote-path-group').addClass('has-error')
                return false
            }
            return remote_path;
        }

        /**
         * Show error message below upload button
         * @param msg
         */
        function show_err(msg = ''){
            $('.upload-err-text').html(msg)
        }


    </script>

    <script language="JavaScript" src="{% static 'js/upload.js' %}"></script>
{% endblock %}